.sign-up__label {
    display: flex;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    border: none;
    margin: 0;
    padding: 0;
    padding-left: 5px;
}

@media screen and (max-width: 767px) {
    .sign-up__label {
        padding-left: 0;
    }
    
  }