.camera__content {
    max-width: 1340px;
    margin: 0 auto;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    gap: 180px 50px;
    justify-content: space-between;
    background-color: #000;
}

@media screen and (max-width: 1410px) {
    .camera__content {
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    
}

@media screen and (max-width: 767px) {
    .camera__content {
        padding: 20px;
    }
    
  }