.sign-up {
    padding: 50px;
    display: flex;
    background-color: #DF2626;
}

@media screen and (max-width: 1410px) {
    .sign-up {
        padding: 40px;
    }
    
  }

@media screen and (max-width: 767px) {
    .sign-up {
        padding: 20px;
    }
    
  }