.camera__comment {
    margin: 0;
    font-size: 43px;
    line-height: 43px;
    font-weight: 400;
    color: #fff;
    width: 526px;
}

@media screen and (max-width: 767px) {
    .camera__comment {
        font-size: 24px;
        line-height: 26px;
        width: auto;
    }
}