.camera__image-tablet {
    display: none;
}

@media screen and (max-width: 1410px) {
    .camera__image-tablet {
        display: block;
        margin-bottom: 60px;
    }
    
}

@media screen and (max-width: 767px) {
    .camera__image-tablet {
        width: 280px;
        height: 268px;
    }
    
    
  }