.orders-searching__block-two {
    margin-top: 336px;
    margin-left: 312px;
}

@media screen and (max-width: 1410px) {
    .orders-searching__block-two {
        width: 320px;
        margin-left: 0;
        margin-top: 55px;
    }
    
}

@media screen and (max-width: 767px) {
    .orders-searching__block-two {
        width: 280px;
    }
    
}