@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.header__arrow:hover {
  cursor: url('../../../images/Pointer.svg'), pointer;
    animation: rotation 5s linear infinite;
}

@media screen and (max-width: 1410px) {
  .header__arrow {
      width: 36px;
  }
  
}

@media screen and (max-width: 767px) {
  .header__arrow {
      width: 30px;
  }
  
}