.course__image-tablet {
    display: none;
}

@media screen and (max-width: 1410px) {
    .course__image-tablet {
        display: block;
    }
    
}

@media screen and (max-width: 767px) {
    .course__image-tablet {
        width: 280px;
    }
    
  }