.sign-up__button {
    width: 202px;
    height: 46px;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: inherit;
    border-radius: 0px 8px 8px 0px;
    margin-top: -1px;
    margin-left: -2px;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.sign-up__button:hover {
    font-weight: 500;
    cursor: url('../../../images/Pointer.svg'), pointer;
}

@media screen and (max-width: 1410px) {
    .sign-up__button {
        margin-top: 0;
    }
    
  }

@media screen and (max-width: 767px) {
    .sign-up__button {
        width: 103px;
        height: 46px;
        font-size: 11px;
    }
    
  }