.composition__title {
    margin: 0;
    margin-bottom: 100px;
    font-size: 64px;
    line-height: 64px;
    font-weight: 400;
    color: #000;
}

@media screen and (max-width: 1410px) {
    .composition__title {
        margin-bottom: 60px;
    }
    
}

@media screen and (max-width: 767px) {
    .composition__title {
        font-size: 30px;
        line-height: 38px;
    }
    
  }